root = true

[*.cs]

indent_style = space
indent_size = 4
tab_width = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120

dotnet_analyzer_diagnostic.severity = warning

dotnet_style_require_accessibility_modifiers = always
dotnet_code_quality_unused_parameters = all:warning
csharp_style_namespace_declarations = file_scoped

dotnet_diagnostic.CS1591.severity = silent # Missing XML comment for publicly visible type or member
dotnet_diagnostic.CA1805.severity = silent # Do not initialize unnecessarily
